.container{background-color: grey;}

header{
	height: 250px;
margin: auto;
	background-color: brown;
}

.col-md-2{background-color: blue;}

.titre {background-color: yellow;}

.soutitre{background-color: green;}

h1, h2{text-align: center;}

.rezo{
	margin : auto;
	padding: 50px;
	background-color: lightgreen;
	width: 10%;
	height : 100px;
}

article{
	height: 250px;

}

section{
	width : 100%;
	height: 100px;
	background-color: pink;}

footer{ 
width : 100%;
height: 50px;
	background-color: red;
}


 .carousel-inner > .item > img,.carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;

  }

.bloc-droite{
	width: 100%;
	border-top-color: black;
	background-color : lightgreen;
	height : 450px;
}